<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	<div th:replace="fragments :: head"></div>
		<title>Departments</title>
	</head>
	<body>
		<div class="container">
			<h1 class="text-center text-secondary fs-1">Departments</h1 >
		
		
		<table class="table">
			<thead>
				<tr>
					<th class ="text-secondary fs-3"scope="col">Name</th >
					<th class ="text-secondary fs-3"scope="col">Address</th >
					<th class ="text-secondary fs-3"scope="col">Phone</th >
					<th class ="text-secondary fs-3"scope="col">Email</th >
					<th class ="text-secondary fs-3"scope="col">Website</th >
					<th class ="text-secondary fs-3"scope="col">Head of department</th >
					
				</tr>
				
			</thead>
			<tbody>
				<a >
					<tr th:each="department : ${departments}"  data-href="@{|/degrees/${department.id}|}">
						<td class="bg-info text-white"th:text= ${department.name}></td>
						<td class="table-primary" th:text= ${department.address}></td >
						<td class="bg-info text-white"th:text = ${department.phone} ></td>
						<td class="table-primary"th:text= ${department.email}></td>
						<td class="bg-info text-white"th:text= ${department.website}></td>
						<td class="table-primary" th:text= ${department.headOfDepartment}></td>
						<td class="bg-info" ><a class="btn btn-primary " th:href="@{|/degrees/${department.id}|}">Degrees list</a></td  >
					</tr>
				</a >
			</tbody>
		</table>
		</div>
		<div th:replace="fragments :: scripts"></div>
	</body>

</html>